<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.GoRide"
        tools:targetApi="31">
        <activity
            android:name=".ErrorActivity"
            android:exported="false" />
        <activity
            android:name=".TaxiActivity"
            android:exported="false" />
        <activity
            android:name=".SuggestTripsActivity"
            android:exported="false" />
        <activity
            android:name=".ui.driver.home.home_services.work_in_specific_trip.WorkInSpecificTripActivity"
            android:exported="false" />
        <activity
            android:name=".ui.rider.home.services.availableTrip.AvailableTripsActivity"
            android:exported="false" />
        <activity
            android:name=".ui.rider.home.services.request.RiderRequestActivity"
            android:exported="false" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAR4w7IabWvGHVleCvraHfqu99g8ttiOZc" />

        <activity
            android:name=".ui.rider.RiderActivity"
            android:exported="false" />
        <activity
            android:name=".ui.driver.DriverActivity"
            android:exported="false" />
        <activity
            android:name=".ui.splachscreen.SplashScreenActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.auth.AuthenticationActivity"
            android:exported="true" />

        <service
            android:name=".utility.FirebaseMessageReceiver"
            android:exported="true"
            android:stopWithTask="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <receiver
            android:name=".utility.FirebaseMessageReceiverBroadCast"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />

                <category android:name="${applicationId}" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".ui.rider.home.services.availableTrip.BroadCastReceiverTrip"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="com.theideal.goride.ui.rider.home.services.availableTrip.BroadCastReceiverTrip" />
            </intent-filter>
        </receiver>
    </application>

</manifest>